p,a{
    color:green
}
li{
    list-style-type:square;
}
span.special,
li.special{
    color:rgb(242, 0, 255);
    font-weight:bold;
}
li em {
    color:blueviolet;
}
h1+p{
    font-size:200%;
}
a:hover{
    color:darkcyan;
    text-decoration: none;
}
body h1+p .special{
    color:aqua;
    background-color: blueviolet;
    padding: 5px;
}
#heading{
    color:red;
}
li[class]{
    color:royalblue;
}
li[class~="a"]{
    color: red;
}
*{
    list-style-type: circle;
}
